<!-- question_list will always load base.html -->
{% extends "base.html" %}

<!-- NOTE: atm these styles are hardcoded - we'll be using the CSS when that happens -->
<!-- Replace any other block content with this stuff -->
{% block content %}
    <div class="questions_container">
        <!-- List each question -->
        {% for question in object_list %}
          <div class="question">
              <h2>{{question}} {% include "hackessex/votes_indicator.html" with votes=question.votes only%}</h2> <!-- Show question text + votes -->
              <a href="/q/vote/{{question.pk}}/up">up</a>
              <a href="/q/vote/{{question.pk}}/down">down</a>
              <a href="{% url "add_ans" question=question.pk %}">Answer this question</a>
          </div>

          {% for answer in question.answer_set.all %}  <!-- Django does fancy stuff behind the scenes and aggregates all the foreign keys in the many-to-one? -->
          <div class="answer">
              <h3>{{answer.text}} {% include "hackessex/votes_indicator.html" with votes=answer.votes only%}</h3> <!-- Show each answer's text, indented -->
              <a href="{% url "vote_ans" answer_id=answer.pk t="up" %}">up</a>
              <a href="{% url "vote_ans" answer_id=answer.pk t="down" %}">down</a>
          </div>
          {% endfor %}
        {% empty %}
        <h2>there are no questions</h2> <!-- There were no questions, so show that -->
        {% endfor %}
    </div>
    <a href="{% url "add" %}">Create question</a>
{% endblock content %}

